<!DOCTYPE html>
<html ng-app="yamyday">
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/pure-min.css" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <div class="basic-bg" ng-controller="MainCtrl">
            <div class="pages invisible">
                <div class="page headline">
                    <div class="content">
                        <h1>{{ headline.title }}</h1>
                        <h3>{{ headline.subTitle }}</h3>
                        <img src="{{ headline.imgUrl }}" />
                    </div>
                </div>
                <div class="page one hidden">
                    <div class="pure-g"><!--
                     --><div class="pure-u-1-2">
                            <p>{{ one.content }}</p>
                        </div><!--
                     --><div class="pure-u-1-2">
                            <ul><li ng-repeat="share in one.shares">
                                <img src="https://graph.facebook.com/{{ share.from.id }}/picture" />
                                <h4>{{ share.from.name }}</h4>
                                <h6>{{ share.hoursAgo }}</h6>
                                <p>{{ share.message }}</p>
                            </li></ul>
                        </div><!--
                 --></div>
                </div>
                <div class="page two hidden">
                    <div class="pure-g"><!--
                     --><div class="pure-u-1-2">
                            <%- sectionHelper(2, 'two', 0) %>
                            <%- sectionHelper(2, 'two', 1) %>
                        </div><!--
                     --><div class="pure-u-1-2">
                            <%- sectionHelper(2, 'two', 2) %>
                            <%- sectionHelper(2, 'two', 3) %>
                        </div><!--
                 --></div>
                </div>
                <div class="page three hidden">
                    <div class="pure-g"><!--
                     --><div class="pure-u-1-2">
                            <%- sectionHelper(2, 'three', 0) %>
                            <%- sectionHelper(2, 'three', 1) %>
                        </div><!--
                     --><div class="pure-u-1-2">
                            <%- sectionHelper(3, 'three', 2) %>
                            <%- sectionHelper(3, 'three', 3) %>
                            <%- sectionHelper(3, 'three', 4) %>
                        </div><!--
                 --></div>
                </div>
                <div class="page detail hidden" ng-controller="DetailPageCtrl"><% include detail %></div>
            </div>
            <div class="loading">Loading...</div>
        </div>
        <script type="text/javascript" src="/javascripts/jquery-2.0.3.js"></script>
        <script type="text/javascript" src="javascripts/angular.js"></script>
        <script type="text/javascript" src="javascripts/script.js"></script>
    </body>
</html>